.profile-dashboard-info {
  flex-grow: 1;
  padding: 2rem 3rem;
  position: relative;

  @media only screen and (max-width: $large-medium) {
    padding: 0;
    margin: 0;
    color: white;
  }

  &-mobile {
    color: black;
    display: block !important;

    @media only screen and (max-width: $large-medium) {
      background-image: linear-gradient(#fafafa, #fafafa) !important;
      padding: 2.1rem 2.3rem !important;
      margin: 0 1.5rem !important;
    }

    &-box {
      @media only screen and (max-width: $large-medium) {
        background-image: linear-gradient(#fafafa, #fafafa) !important;
        color: black;
        display: block !important;
        padding: 2.1rem 2.3rem !important;
        margin: 0 1.5rem !important;
      }
    }

    &-cards {
      @media only screen and (max-width: $large-medium) {
        margin: -4rem 0 !important;
      }
    }
  }

  &-credits {
    position: absolute;
    top: 1rem;
    right: 5rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.6rem;
    z-index: 1;

    @media only screen and (max-width: $large-medium) {
      left: 2rem;
      top: 2rem;
    }

    span {
      display: block;
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;
      background-color: #f3c623;
      border-radius: 50%;
    }
  }

  &-title {
    font-size: 2.2rem;
    font-weight: normal;
    font-family: Sanchez;
    line-height: 2.8rem;

    @media only screen and (max-width: $large-medium) {
      display: none;
      background-image: linear-gradient(
        $color-scheme-3-variation-4 99%,
        $color-scheme-3-variation-4 80%
      );
    }
  }

  &-box {
    padding: 1.8rem 3.1rem;
    background-color: #fafafa;
    border-radius: 1.2rem;
    margin: 1.5rem 0 6rem 0;
    position: relative;

    @media only screen and (max-width: $large-medium) {
      background-image: linear-gradient(
        $color-scheme-3-variation-4 99%,
        $color-scheme-3-variation-4 80%
      );
      margin: -0.5rem 0 2rem 0;
      padding: 8rem 0;
      border-radius: 0;
    }

    &-edit {
      position: absolute;
      right: 2%;
      top: 2%;
      font-size: 1.4rem;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }

      span:last-child {
        margin-left: 1rem;
      }

      @media only screen and (max-width: $large-medium) {
        top: 2rem;
      }
    }

    &-add {
      position: absolute;
      right: 2%;
      top: 2%;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.1rem;
      color: #778186;
      text-decoration: underline;
      margin: 3rem 0;

      &:hover {
        cursor: pointer;
      }
    }

    &-container {
      width: 70%;
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: $large-medium) {
        flex-direction: column;
        align-items: center;
        width: 100%;

        > div {
          margin: 0 0 3rem 0;
          width: 100%;
        }
      }
    }

    &-address {
      font-size: 1.8rem;
      font-weight: 300;

      @media only screen and (max-width: $large-medium) {
        text-align: left;
        width: 40%;
      }

      &-container {
        @media only screen and (max-width: $large-medium) {
          display: flex;
          justify-content: center;
        }
      }

      textarea {
        font-family: inherit;
        width: 100%;
        border: none;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
        padding: 1.5rem 2rem 0 2rem;
        font-size: 1.4rem;
        resize: none;

        &:focus {
          outline: none;
        }
      }

      &-title {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.1rem;

        @media only screen and (max-width: $large-medium) {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.075em;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.6);
          width: 100%;
        }
      }

      &-subtitle {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.1rem;

        span {
          font-size: 1.8rem;
          font-weight: 300;
        }
      }

      &-box {
        font-size: 1.8rem;
        line-height: 2.1rem;
      }
    }

    &-plan {
      &-title {
        font-size: 1.8rem;
        text-transform: capitalize;
        line-height: 2.1rem;
        font-weight: 700;
      }

      &-credits {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.1rem;
        font-weight: 400;
      }
    }

    &-history {
      &-title {
        display: block;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.1rem;
        color: #778186;
        text-decoration: underline;
        margin: 3rem 0;

        &:hover {
          cursor: pointer;
        }
      }

      &-list {
        font-size: 1.6rem;
        line-height: 1.6rem;
        font-weight: 500;
        font-family: Roboto;
        width: 100%;
        color: #778186;
        max-height: 40.6rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0.6rem;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #e8e8e8;
        }

        &-headers {
          display: flex;
          text-transform: uppercase;
          padding: 2.3rem 0;

          span {
            width: 25%;
          }
        }

        &-transactions {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 2.1rem;
          font-family: Roboto;
          color: black;
          width: 100%;
          display: flex;
          padding: 2.3rem 0;
          border-top: 1px solid #e8e8e8;

          span {
            width: 25%;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

#phone {
  border-radius: 1.2rem;
  padding: 1rem;
}
