.nav-user {
  width: 100%;
  padding: 1rem;
  background-color: #18405d;
  color: white;
  display: none;

  @media only screen and (max-width: $large-medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ////////////////////////////////////

  &-arrow {
    svg {
      width: 2rem;
      height: 2rem;
      fill: white;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-current {
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 700;
    font-family: Roboto;
  }

  /////////////////////////////////////

  &-menu {
    &-checkbox {
      display: none;
    }

    &-burger {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }

    &-icon {
      position: relative;

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 0.2rem;
        background-color: white;
        display: inline-block;
        z-index: 100 !important;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.2s;
        z-index: 100 !important;
      }

      &::before {
        top: -0.8rem;
        z-index: 100 !important;
      }

      &::after {
        top: 0.8rem;
        z-index: 100 !important;
      }
    }

    &-burger:hover &-icon::before {
      top: -1rem;
    }

    &-burger:hover &-icon::after {
      top: 1rem;
    }

    &-checkbox:checked + &-burger &-icon {
      background-color: transparent;
    }

    &-checkbox:checked + &-burger &-icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &-checkbox:checked + &-burger &-icon::after {
      top: 0;
      transform: rotate(-135deg);
    }

    &-background {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      position: fixed;
      top: 1rem;
      right: 1rem;
      z-index: -1 !important;
      background-image: radial-gradient($color-scheme-3, $color-scheme-3);
      transition: all 0.5s ease-in-out;

      @media only screen and (max-width: $large-medium) {
        position: absolute;
      }
    }

    &-checkbox:checked ~ &-background {
      transform: scale(80);
      z-index: 50 !important;
    }
  }

  &-list {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    opacity: 0;
    display: flex;
    align-items: center;
    width: 100%;
    visibility: hidden;
    transition: all 0.8s ease-in-out;

    &-items {
      list-style: none;
      text-align: center;
      width: 100%;

      &-link {
        &:link,
        &:visited {
          display: inline-block;
          font-size: 3rem;
          font-weight: 300;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          padding: 1rem 2rem;
          background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            white 50%
          );
          background-size: 230%;
          transition: all 0.5s;
        }

        &:hover,
        &:active {
          background-position: 100%;
          color: $color-scheme-2;
          transform: translateX(1rem);
        }
      }
    }
  }

  #nav-toggle:checked ~ .nav-user-list {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
}

.nav-mobile {
  width: min-content;
  padding: 1rem;
  display: none;

  @media only screen and (max-width: $large-medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-container {
    display: none;

    @media only screen and (max-width: $large-medium) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 0 2rem;
      background-color: transparent;
    }
  }

  &-logo {
    display: flex;
    align-items: center;

    svg {
      width: 4.7rem;
      height: 4.7rem;
      fill: red;
    }

    span {
      font-family: 'Sanchez', serif;
      font-size: 2.4rem;
      margin-left: 1rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  ////////////////////////////////////

  &-arrow {
    svg {
      width: 2rem;
      height: 2rem;
      fill: white;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-current {
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 700;
    font-family: Roboto;
  }

  /////////////////////////////////////

  &-menu {
    &-checkbox {
      display: none;
    }

    &-burger {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
      }
    }

    &-icon {
      position: relative;

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 0.2rem;
        background-color: $color-scheme-3;
        display: inline-block;
        z-index: 100 !important;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.2s;
        z-index: 100 !important;
      }

      &::before {
        top: -0.8rem;
        z-index: 100 !important;
      }

      &::after {
        top: 0.8rem;
        z-index: 100 !important;
      }
    }

    &-burger:hover &-icon::before {
      top: -1rem;
    }

    &-burger:hover &-icon::after {
      top: 1rem;
    }

    &-checkbox:checked + &-burger &-icon {
      background-color: transparent;
    }

    &-checkbox:checked + &-burger &-icon::before {
      top: 0;
      background-color: white;
      transform: rotate(135deg);
    }

    &-checkbox:checked + &-burger &-icon::after {
      top: 0;
      background-color: white;
      transform: rotate(-135deg);
    }

    &-background {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      position: fixed;
      top: 1rem;
      right: 1rem;
      z-index: -1 !important;
      background-color: transparent;
      transition: all 0.5s ease-in-out;

      @media only screen and (max-width: $large-medium) {
        position: absolute;
      }
    }

    &-checkbox:checked ~ &-background {
      position: fixed;
      transform: scale(80);
      background-image: radial-gradient($color-scheme-3, $color-scheme-3);
      z-index: 50 !important;
    }
  }

  &-list {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    opacity: 0;
    display: flex;
    align-items: center;
    width: 100%;
    visibility: hidden;
    transition: all 0.8s ease-in-out;

    &-items {
      list-style: none;
      text-align: center;
      width: 100%;

      &-link {
        &:link,
        &:visited {
          display: inline-block;
          font-size: 3rem;
          font-weight: 300;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          padding: 1rem 2rem;
          background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            white 50%
          );
          background-size: 230%;
          transition: all 0.5s;
        }

        &:hover,
        &:active {
          background-position: 100%;
          color: $color-scheme-2;
          transform: translateX(1rem);
        }
      }
    }
  }

  #nav-toggle:checked ~ .nav-mobile-list {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
}
