.profile-dashboard-orders {
  flex-grow: 1;
  padding: 2rem 3rem;

  &-title {
    display: flex;
    align-items: center;

    &-sent {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      font-size: 2.2rem;
      white-space: nowrap;

      &:hover {
        cursor: pointer;
      }

      @media only screen and (max-width: $large-medium) {
        margin-top: 3rem;
        font-size: 1.6rem;
      }

      &-selected {
        background-color: rgba(24, 64, 93, 0.1);
        border-radius: 3.3rem;
        padding: 0.2rem 2rem;
      }

      img {
        margin-left: 1rem;
      }
    }
  }

  &-card {
    display: flex;
    flex-wrap: wrap;
    padding: 4.6rem 0;

    &-item {
      width: 30rem;
      height: 36.8rem;
      border: 0.2rem solid #e5e5e5;
      border-radius: 1.2rem;
      padding: 3.6rem 1.9rem;
      margin-right: 2.9rem;
      margin-bottom: 2.9rem;

      &-name {
        font-size: 2.4rem;
        line-height: 3.6rem;
        font-weight: 400;
        font-family: Sanchez;
      }

      &-event {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #011722;
        margin-bottom: 1rem;
        text-transform: capitalize;
      }

      &-delivery {
        font-size: 2.4rem;
        line-height: 3.6rem;
        font-weight: 400;
        font-family: Sanchez;
      }

      &-date {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #011722;
        margin-bottom: 1rem;
      }

      &-image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;

        &-front {
          width: 13.172rem;
          height: 12rem;
          border: 0.2rem solid #e5e5e5;
          outline: none;
          object-fit: cover;
        }

        &-inside {
          width: 13.172rem;
          height: 12rem;
          border: 0.2rem solid #e5e5e5;
          outline: none;
          object-fit: cover;
        }
      }

      &-ordered {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #011722;
        margin-bottom: 1rem;
      }

      &-review {
        display: flex;
        align-items: center;

        &-image {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          border: 0.2rem solid #fceeaa;
        }

        &-user {
          margin-left: 1.5rem;
          font-size: 1.2rem;
          line-height: 1.4rem;

          &-stars {
            &-fill {
              width: 2.8rem;
              height: 2.8rem;
              fill: $color-scheme-2;
            }

            &-outline {
              width: 2.8rem;
              height: 2.8rem;
              stroke-width: 0.02rem !important;
              fill: $color-light-gray-alt-1;
            }
          }
        }
      }
    }
  }
}
