.giphy-loading {
  margin: 1rem 0 !important;

  &-space {
    width: 3rem !important;
    height: 4rem !important;
    padding: 0 !important;
    color: transparent;
  }
}

.firebaseui-idp-list {
  justify-content: center;
  margin: 0 auto !important;
}

.firebaseui-id-idp-button {
  width: auto !important;
  padding: 0 3rem !important;
  text-align: center !important;
  font-size: 2.4rem !important;
}

.firebaseui-idp-text-long {
  text-align: center !important;
  font-size: 1.6rem !important;
}
