.expand {
  text-decoration: underline;
}

.display {
  display: block;
}

.hide {
  opacity: 0;
}

.disable {
  border: 0.2rem solid $color-light-gray-alt-2;
  background-color: $color-light-gray-alt-2;
  color: black;

  &::before {
    background-color: $color-light-gray-alt-2;
    color: black;
  }
}
