.confirmation {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8rem 0rem;
  position: relative;

  @media only screen and (max-width: $large) {
    grid-template-columns: 1fr;
    padding: 2rem 0rem;
    align-items: none;
  }

  &-title {
    grid-column: 1/-1;
    justify-self: center;
    font-size: 2.2rem;
    color: $color-scheme-3-variation-1;

    &-mobile {
      grid-column: 1/-1;
      color: $color-scheme-3-variation-1;
      font-weight: 700;
      justify-self: flex-start;
      margin-left: 1rem;
      text-align: left;
      font-size: 1.8rem;
      padding: 0 5rem;
      display: none;
    }

    @media only screen and (max-width: $large) {
      color: $color-scheme-3-variation-1;
      font-weight: 700;
    }
  }

  &-subtitle {
    grid-column: 1/-1;
    justify-self: center;
    text-align: center;
    font-size: 1.8rem;
    color: $color-scheme-3-variation-3;
    margin: 0 0 3rem 0;

    @media only screen and (max-width: $large) {
      color: $color-scheme-3-variation-3;
    }

    &-mobile {
      grid-column: 1/-1;
      color: $color-scheme-3-variation-3;
      justify-self: flex-start;
      text-align: left;
      margin-left: 1rem;
      font-size: 1.4rem;
      padding: 0.3rem 5rem;
      display: none;
    }

    span {
      font-weight: 700;
    }
  }

  &-order {
    &-container {
      grid-column: 4/8;
      width: 85rem;
      height: 100%;
      border: 0.1rem solid $color-light-gray;
      padding: 2rem 5rem;
      border-radius: 1.2rem;
    }

    &-title {
      font-size: 2.4rem;
      font-weight: 800;
    }

    &-subtitle {
      font-size: 1.8rem;
      margin: 1rem 0;
    }

    &-details {
      &-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @media only screen and (max-width: $large) {
          grid-template-columns: 1fr;
        }
      }

      &-billing {
        margin: 2rem 0;
        font-size: 1.4rem;

        &-title {
          font-size: 2.4rem;
        }

        &-name {
          font-size: 1.8rem;
        }

        &-event {
          width: 100%;
          display: flex;
          justify-content: space-between;
          text-transform: capitalize;
          margin: 0.5rem 0;
          font-size: 1.8rem;
        }

        &-tax {
          width: 100%;
          display: flex;
          justify-content: space-between;
          text-transform: capitalize;
          margin: 0.5rem 0;
          font-size: 1.8rem;
          padding: 0.5rem 0;
          margin: 1rem 0;
          border-bottom: 0.2rem solid $color-light-gray;
        }

        &-total {
          width: 100%;
          display: flex;
          justify-content: space-between;
          font-size: 1.8rem;
          font-weight: 900;
        }
      }
    }

    &-summary {
      &-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 5rem 0;

        @media only screen and (max-width: $large) {
          grid-template-columns: 1fr;
        }
      }

      &-billing {
        margin: 2rem 0;
        font-size: 1.4rem;

        &-title {
          font-size: 2.4rem;
        }

        &-name {
          font-size: 1.8rem;
        }

        &-event {
          width: 100%;
          display: flex;
          justify-content: space-between;
          text-transform: capitalize;
          margin: 0.5rem 0;
          font-size: 1.8rem;
        }

        &-tax {
          width: 100%;
          display: flex;
          justify-content: space-between;
          text-transform: capitalize;
          margin: 0.5rem 0;
          font-size: 1.8rem;
          padding: 0.5rem 0;
          margin: 1rem 0;
          border-bottom: 0.2rem solid $color-light-gray;
        }

        &-total {
          width: 100%;
          display: flex;
          justify-content: space-between;
          font-size: 1.8rem;
          font-weight: 900;
        }
      }

      &-package {
        margin: 2rem 0 0 5rem;
        font-size: 1.4rem;

        @media only screen and (max-width: $large) {
          margin: 2rem 0 0 0;
        }

        &-title {
          font-size: 2.4rem;
          text-transform: capitalize;
        }

        &-delivery {
          span {
            margin-left: 1rem;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

.ship_to {
  margin: 2rem 0 0 5rem !important;
  font-size: 1.4rem;

  @media only screen and (max-width: $large) {
    margin: 2rem 0 0 0 !important;
  }
}
