.profile-dashboard {
  width: 100%;
  box-sizing: border-box;
  border-top: 0.3rem solid $color-light-gray-alt-2;
  min-height: 75rem;
  max-height: 100%;
  display: flex;
  position: relative;

  @media only screen and (max-width: $large-medium) {
    display: block;
    border-top: 0;
  }

  &-sidenav {
    &-container {
      width: 15%;

      @media only screen and (max-width: $large-medium) {
        width: 100%;
      }
    }

    &-item {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 2rem 3rem;

      &:hover {
        cursor: pointer;
      }

      &:hover > svg {
        fill: $color-scheme-3;
      }

      &-container {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        border-right: 0.3rem solid $color-light-gray-alt-2;
        border-bottom: 0.3rem solid $color-light-gray-alt-2;

        @media only screen and (max-width: $large-medium) {
          padding: 0 10rem;
        }
      }

      &-icon {
        width: 3.5rem;
        height: 3.5rem;

        @media only screen and (max-width: $wide) {
          width: 2rem;
          height: 2rem;
        }
      }

      span {
        display: block;
        flex-grow: 1;
        margin-left: 1.5rem;
        font-size: 2.2rem;

        @media only screen and (max-width: $wide) {
          font-size: 1.8rem;
          white-space: nowrap;
        }
      }

      &-arrow {
        width: 3rem;
        height: 3rem;
        fill: $color-light-gray-alt-1;
      }
    }
  }

  &-recipients {
    width: 15%;
    padding: 0 3rem;

    @media only screen and (max-width: $large-medium) {
      width: 100%;
      padding: 0;
    }

    &:hover {
      cursor: pointer;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.2rem;
      padding: 2rem 3rem;
      text-transform: capitalize;
      border-bottom: 0.2rem solid $color-light-gray-alt-2;
      transition: all 0.5s;
      width: 100%;

      @media only screen and (max-width: $wide) {
        font-size: 1.4rem;
      }

      @media only screen and (max-width: $large-medium) {
        justify-content: flex-start;
        padding: 2rem 6rem;
      }

      &:hover {
        background-color: $color-scheme-3;
        color: white;
      }

      &-add {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-wrap: wrap;
        font-size: 2.2rem;
        padding: 2rem 0rem;
        text-transform: capitalize;
        border-bottom: 0.2rem solid $color-light-gray-alt-2;
        transition: all 0.5s;
        width: 100%;

        @media only screen and (max-width: $wide-large) {
          font-size: 1.8rem;
        }

        @media only screen and (max-width: $wide) {
          flex-direction: column;
          font-size: 1.4rem;
        }

        @media only screen and (max-width: $large-medium) {
          flex-direction: row;
          justify-content: flex-start;
          padding: 2rem 6rem;
        }

        svg {
          width: 3rem;
          height: 3rem;
          margin: 1rem 0;
          border: 0.1rem solid $color-scheme-3;
          border-radius: 50%;
          padding: 0.2rem;
          fill: $color-scheme-3;
          transition: all 0.5s;
        }

        span {
          margin-left: 2rem;

          @media only screen and (max-width: $wide) {
            margin: 0;
          }

          @media only screen and (max-width: $large-medium) {
            margin-left: 2rem;
          }
        }

        &:hover {
          cursor: pointer;
          background-color: $color-scheme-3;
          color: white;
        }

        &:hover > svg {
          fill: white;
          border: 0.1rem solid white;
          border-radius: 50%;
        }
      }
    }

    &-edit {
      padding: 3rem 5rem;
      width: 70%;

      @media only screen and (max-width: $large-medium) {
        width: 100%;
        color: white;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-title {
        display: flex;
        align-items: center;
        font-size: 2.2rem;
        // box-sizing: content-box;
        padding: 1rem 3rem;
        width: 100%;
        margin: 0;
        text-transform: capitalize;
        position: relative;

        &-credits {
          position: absolute;
          top: 1rem;
          right: 1rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 1.4rem;
          line-height: 1.6rem;
          z-index: 1;

          @media only screen and (max-width: $large-medium) {
            left: 2rem;
            top: 2rem;
          }

          @media only screen and (max-width: $large-medium) {
            font-size: 1rem;
          }

          span {
            display: block;
            width: 1rem;
            height: 1rem;
            margin-right: 1rem;
            background-color: #f3c623;
            border-radius: 50%;

            @media only screen and (max-width: $large-medium) {
              margin-right: 0.5rem;
            }
          }
        }

        @media only screen and (max-width: $large-medium) {
          background-image: linear-gradient(
            $color-scheme-3-variation-4 99%,
            $color-scheme-3-variation-4 80%
          );
          color: white;
        }

        &-name {
          padding: 0 1rem;
          margin-left: 1rem;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 20%;
            width: 0.2rem;
            height: 60%;
            border-left: 0.2rem solid black;

            @media only screen and (max-width: $large-medium) {
              border-left: 0.2rem solid rgba(255, 255, 255, 0.6);
            }
          }
        }

        &-edit {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          text-decoration: underline;
          position: relative;

          span {
            svg {
              margin-top: 0.5rem;
              width: 3rem;
              height: 3rem;
              fill: $color-scheme-3;

              @media only screen and (max-width: $large-medium) {
                fill: rgba(255, 255, 255, 0.6);
              }
            }

            &:hover {
              cursor: pointer;
            }
          }

          &-menu {
            position: absolute;
            top: 100%;
            width: max-content;
            z-index: 5;
            border-radius: 1.2rem;

            &-item {
              width: 100%;
              font-size: 1.6rem;
              text-align: center;
              padding: 1rem 1rem;
              background-color: white;
              color: $color-light-gray-alt-1;
              border-bottom: 0.1rem solid $color-light-gray-alt-2;

              &:last-child {
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
                border-radius: 1.2rem;
              }

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      &-profile {
        display: flex;
        width: 100%;
        margin: 2rem 0;
        padding: 2rem 4rem;
        background-color: $color-light-gray-alt-5;
        position: relative;

        @media only screen and (max-width: $large-medium) {
          background-image: linear-gradient(
            $color-scheme-3-variation-4 99%,
            $color-scheme-3-variation-4 80%
          );
          margin: 0;
        }

        &-container {
          display: flex;
          justify-content: space-between;
          width: 80%;

          @media only screen and (max-width: $large-medium) {
            flex-direction: column;
            width: 100%;
            padding: 0 5rem;
          }
        }

        &-personality {
          @media only screen and (max-width: $large-medium) {
            margin-bottom: 3rem;
          }

          &-title {
            font-size: 1.8rem;
            font-weight: 700;

            @media only screen and (max-width: $large-medium) {
              color: rgba(255, 255, 255, 0.6);
            }
          }

          &-input {
            textarea {
              font-family: inherit;
              width: 90% !important;

              @media only screen and (max-width: $large-medium) {
                width: 100% !important;
                z-index: 200;
              }
            }
          }

          span {
            display: block;
            font-size: 1.8rem;
          }
        }

        &-address {
          // width: 50%;
          @media only screen and (max-width: $large-medium) {
            margin-bottom: 3rem;
          }

          &-title {
            font-size: 1.8rem;
            font-weight: 700;

            @media only screen and (max-width: $large-medium) {
              color: rgba(255, 255, 255, 0.6);
            }
          }

          span {
            display: block;
            font-size: 1.8rem;
          }
        }

        &-age {
          @media only screen and (max-width: $large-medium) {
            margin-bottom: 3rem;
          }

          &-title {
            font-size: 1.8rem;
            font-weight: 700;

            @media only screen and (max-width: $large-medium) {
              color: rgba(255, 255, 255, 0.6);
            }
          }

          span {
            display: block;
            font-size: 1.8rem;
          }
        }

        &-edit {
          position: absolute;
          right: 2%;
          top: 2%;
          font-size: 1.4rem;
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }

          span:last-child {
            margin-left: 1rem;
          }
        }
      }

      &-style {
        width: 100%;
        margin: 2rem 0;
        padding: 2rem 4rem;
        background-color: $color-light-gray-alt-5;
        position: relative;

        @media only screen and (max-width: $large-medium) {
          width: 90%;
          color: black;
          margin: 0 auto;
          margin-top: 2rem;
          padding: 4rem 4rem;
        }

        &-title {
          font-size: 1.8rem;

          span {
            font-weight: 700;
          }
        }

        &-selection {
          display: flex;
          align-items: center;
          margin: 2rem 0;

          @media only screen and (max-width: $large-medium) {
            min-width: 100% !important;
            flex-wrap: wrap;
          }

          &-item {
            text-align: center;

            &-box {
              @media only screen and (max-width: $wide-large) {
                min-width: 13rem !important;
              }

              @media only screen and (max-width: $wide) {
                min-width: 11rem !important;
              }

              @media only screen and (max-width: $wide-small) {
                min-width: 10rem !important;
              }

              @media only screen and (max-width: $extra-large) {
                min-width: 9rem !important;
              }

              @media only screen and (max-width: $large-medium) {
                margin: 1rem 0;
                width: 100%;
                color: black;
                border-radius: 3.4rem !important;
              }

              div {
                cursor: grab;
                width: 100%;
                padding: 1rem 0;
                border-radius: 1.2rem;

                @media only screen and (max-width: $large-medium) {
                  border-radius: 3.4rem !important;
                }

                &:hover {
                  cursor: grab;
                }
              }
            }
          }

          &-item-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 1rem 0;
            border: 0.2rem solid #ef6130;
            border-radius: 1.2rem;
            font-size: 1.8rem;
            margin-right: 1rem;
            min-width: 15rem;
            text-transform: capitalize;
            position: relative;

            &::before {
              content: '1';
              position: absolute;
              bottom: 75%;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 3rem;
              height: 3rem;
              background-color: #ef6130;
              border-radius: 50%;
              padding: 1rem;
              color: white;

              @media only screen and (max-width: $large-medium) {
                left: 5%;
                bottom: 25%;
              }
            }
          }

          &-item-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 1rem;
            border: 0.2rem solid #e58a5d;
            border-radius: 1.2rem;
            font-size: 1.8rem;
            margin-right: 1rem;
            text-transform: capitalize;
            min-width: 15rem;
            position: relative;

            &::before {
              content: '2';
              position: absolute;
              bottom: 75%;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 3rem;
              height: 3rem;
              background-color: #e58a5d;
              border-radius: 50%;
              padding: 1rem;
              color: white;

              @media only screen and (max-width: $large-medium) {
                left: 5%;
                bottom: 25%;
              }
            }
          }

          &-item-3 {
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 1rem;
            border: 0.2rem solid #ecab7d;
            border-radius: 1.2rem;
            font-size: 1.8rem;
            margin-right: 1rem;
            text-transform: capitalize;
            min-width: 15rem;
            position: relative;

            &::before {
              content: '3';
              position: absolute;
              bottom: 75%;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 3rem;
              height: 3rem;
              background-color: #ecab7d;
              border-radius: 50%;
              padding: 1rem;
              color: white;

              @media only screen and (max-width: $large-medium) {
                left: 5%;
                bottom: 25%;
              }
            }
          }

          &-item-4 {
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 1rem;
            border: 0.2rem solid #f4cd9d;
            border-radius: 1.2rem;
            font-size: 1.8rem;
            margin-right: 1rem;
            text-transform: capitalize;
            min-width: 15rem;
            position: relative;

            &::before {
              content: '4';
              position: absolute;
              bottom: 75%;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 3rem;
              height: 3rem;
              background-color: #f4cd9d;
              border-radius: 50%;
              padding: 1rem;
              color: white;

              @media only screen and (max-width: $large-medium) {
                left: 5%;
                bottom: 25%;
              }
            }
          }

          &-item-5 {
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 1rem;
            border: 0.2rem solid #f6d9a8;
            border-radius: 1.2rem;
            font-size: 1.8rem;
            margin-right: 1rem;
            text-transform: capitalize;
            min-width: 15rem;
            position: relative;

            &::before {
              content: '5';
              position: absolute;
              bottom: 75%;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 3rem;
              height: 3rem;
              background-color: #f6d9a8;
              border-radius: 50%;
              padding: 1rem;
              color: white;

              @media only screen and (max-width: $large-medium) {
                left: 5%;
                bottom: 25%;
              }
            }
          }

          &-item-6 {
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 1rem;
            border: 0.2rem solid #fff0b8;
            border-radius: 1.2rem;
            font-size: 1.8rem;
            margin-right: 1rem;
            text-transform: capitalize;
            min-width: 15rem;
            position: relative;

            &::before {
              content: '6';
              position: absolute;
              bottom: 75%;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 3rem;
              height: 3rem;
              background-color: #fff0b8;
              border-radius: 50%;
              padding: 1rem;
              color: white;

              @media only screen and (max-width: $large-medium) {
                left: 5%;
                bottom: 25%;
              }
            }
          }
        }
      }

      &-event {
        width: 100%;
        margin: 2rem 0;
        padding: 2rem 4rem;
        background-color: $color-light-gray-alt-5;
        position: relative;

        @media only screen and (max-width: $large-medium) {
          margin: 0 auto;
          margin-top: 2rem;
          margin-bottom: 2rem;
          padding: 2rem 4rem;
          width: 90%;
        }

        &-title {
          font-size: 1.8rem;
          font-weight: 700;
          color: $color-scheme-3-variation-3;
        }

        &-container {
          display: flex;
          flex-wrap: wrap;
          margin: 0.5rem 0;

          &-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0 1rem 0;
            box-sizing: border-box;
            width: 15.2rem;
            height: 21rem;
            border: 0.2rem solid #e5e5e5;
            background-color: white;
            border-radius: 1.2rem;
            margin-right: 2rem;
            margin-bottom: 1rem;
            position: relative;

            &-add {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 1rem 0 1rem 0;
              box-sizing: border-box;
              width: 15.2rem;
              height: 21rem;
              border: 0.2rem solid #e5e5e5;
              background-color: white;
              border-radius: 1.2rem;
              margin-right: 2rem;
              position: relative;

              svg {
                width: 2.8rem;
                height: 2.8rem;
                margin: 0.5rem 0;
                fill: $color-scheme-3;
              }

              span {
                width: 5.8rem;
                font-size: 1.4rem;
                line-height: 1.6rem;
                text-align: center;
                font-family: Roboto;

                @media only screen and (max-width: $large-medium) {
                  color: $color-scheme-3;
                }
              }

              &:hover {
                cursor: pointer;
              }
            }

            &-plus_button {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 1rem 0 1rem 0;
              box-sizing: border-box;
              width: 9.2rem;
              height: 20.11rem;
              margin-right: 2rem;

              &:hover {
                cursor: pointer;
              }

              span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 5.6rem;
                height: 5.6rem;
                background-color: $color-scheme-3;
                border-radius: 50%;

                svg {
                  width: 2.3rem;
                  height: 2.4rem;
                  fill: white;
                }
              }

              @media only screen and (max-width: $large-medium) {
                display: none;
              }
            }

            &-menu {
              position: absolute;
              top: 10%;
              width: 100%;
              z-index: 5;
              border-radius: 1.2rem;
              background-color: white;

              &-item {
                width: 100%;
                font-size: 1.2rem;
                text-align: center;
                padding: 1rem 0;
                color: $color-light-gray-alt-1;
                border-bottom: 0.1rem solid $color-light-gray-alt-2;

                &:last-child {
                  border-top-left-radius: 0 !important;
                  border-top-right-radius: 0 !important;
                  border-radius: 1.2rem;
                }

                &:hover {
                  cursor: pointer;
                }
              }
            }

            &-dots {
              position: absolute;
              top: 3%;
              right: 5%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              // width: 16px;

              span {
                width: 4px;
                height: 4px;
                margin-right: 2px;
                background-color: $color-scheme-3-variation-3;
                border-radius: 50%;
              }

              &:hover {
                cursor: pointer;
              }
            }

            &-image {
              width: 4.5rem;
              height: 4.5rem;
            }

            &-title {
              text-align: center;
              font-size: 1.8rem;
              padding: 0 0 1rem 0;
              width: 80%;
              border-bottom: 0.2rem solid #e5e5e5;
              color: $color-scheme-3-variation-3;
            }

            &-subtitle {
              &-date {
                margin: 1rem 0 0 0;
                font-family: Roboto;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.4rem;
                color: $color-scheme-3-variation-3;
              }
            }

            &-date {
              font-size: 1.2rem;
              line-height: 1.4rem;
              color: $color-light-gray-alt-1;
            }

            &-tags {
              width: 95%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
              margin: 0 0 0.5rem 0;

              &-tag {
                font-size: 1.2rem;
                margin-right: 0.5rem;
                color: $color-light-gray-alt-1;
              }

              &-dots {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 18px;
                height: 18px;
                border: 0.1rem solid $color-light-gray-alt-1;
                padding: 0.2rem;
                border-radius: 50%;

                span {
                  width: 2px;
                  height: 2px;
                  background-color: $color-light-gray-alt-1;
                  border-radius: 50%;
                }

                &:hover {
                  cursor: pointer;
                }
              }
            }

            &-button {
              width: 1.5rem;
              height: 1.5rem;
              fill: black;
              border-radius: 50%;
              border: 0.1rem solid black;
            }
          }
        }
      }
    }
  }
}
