.resetPassword {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10rem 0;

  @media only screen and (max-width: $large) {
    width: 100%;
  }

  &-title {
    font-size: 4.8rem;

    @media only screen and (max-width: $small) {
      font-size: 3.2rem;
    }
  }

  &-subtitle {
    font-size: 1.8rem;
  }

  input {
    width: 40rem;
    padding: 1rem 2rem;
    margin: 3rem 0 0 0;
    border: none;
    border-bottom: 0.1rem solid $color-scheme-3;
    font-size: 1.8rem;

    @media only screen and (max-width: $large) {
      width: 80%;
    }

    &:focus {
      outline: none;
    }
  }

  &-message {
    height: 2rem;
    font-size: 1.4rem;
    margin: 1.5rem 0;
    color: $color-scheme-1;
  }

  button {
    width: 30rem;
    height: 5rem;
    font-size: 1.8rem;
    border-radius: 1.2rem;
    background-color: $color-scheme-3-variation-1;
    color: white;
    outline: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &-login {
    font-size: 1.8rem;
    margin: 1rem 0;
    color: $color-scheme-3;
  }
}
