.signup {
  text-align: center;

  @media only screen and (max-width: $large) {
    width: 100%;
  }

  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0 0 0;

    @media only screen and (max-width: $large) {
      margin: 0;
      padding: 2rem 4rem;
      width: 100%;
    }
  }

  &-heading {
    font-size: 2rem;
    font-weight: 400;

    @media only screen and (max-width: $large) {
      color: $color-scheme-3;
      font-weight: 700;
      text-align: left;
      margin-left: -2rem;
    }
  }

  &-subheading {
    font-size: 1.8rem;
    font-weight: 400;

    @media only screen and (max-width: $large) {
      display: none;
    }
  }

  &-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 1rem;
    border: 0.1rem solid $color-scheme-4-alt-2;
    width: 50rem;
    box-sizing: border-box;
    border-radius: 1.2rem;
    margin: 5rem 0 0 0;

    @media only screen and (max-width: $large) {
      width: 100%;
      border: none;
      padding: 2rem 0;
    }

    &-message {
      font-size: 1.2rem;
      color: $color-scheme-1;
    }

    &-group {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.1rem solid $color-light-gray-alt-1;
      padding: 1rem 2rem;
      border-radius: 1.2rem;
      width: 30rem;
      margin: 1rem 0;
      box-sizing: border-box;

      @media only screen and (max-width: $large) {
        width: 100%;
      }

      svg {
        width: 2.5rem;
        height: 2.5rem;
      }

      input {
        flex-grow: 1;
        border: none;
        outline: none;
        margin-left: 2rem;
        font-size: 1.8rem;
        color: $color-light-gray-alt-1;

        &::placeholder {
          color: $color-light-gray-alt-1;
        }
      }
    }

    button {
      background-color: $color-scheme-3-variation-1;
      color: $color-white;
      border-radius: 1.2rem;
      width: 30rem;
      height: 5rem;
      font-size: 1.8rem;
      transition: all 0.5s ease-in-out;
      border: none;
      outline: none;

      @media only screen and (max-width: $large) {
        width: 100%;
      }

      &:hover {
        background-color: $color-scheme-3-alt-1;
        cursor: pointer;
        color: $color-scheme-3;
      }
    }

    &-break {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 3rem 0;
      padding: 0 3rem;

      @media only screen and (max-width: $large) {
        padding: 0;
      }

      span:first-child {
        height: 0.1rem;
        background-color: black;
        width: 100%;

        @media only screen and (max-width: $large) {
          width: 150%;
          margin-left: -5rem;
        }
      }

      p {
        width: 100%;
        font-size: 1.6rem;
        padding: 0 1rem;
      }

      span:last-child {
        height: 0.1rem;
        background-color: black;
        width: 100%;

        @media only screen and (max-width: $large) {
          width: 150%;
          margin-right: -5rem;
        }
      }
    }

    &-signin {
      font-size: 1.6rem;
      margin: 2.5rem 0 1rem 0;

      a {
        margin-left: 0.5rem;
        text-decoration: underline;
        color: $color-scheme-3-variation-1;

        &:hover {
          cursor: pointer;
          color: $color-scheme-2;
        }
      }
    }

    &-forgotPassword {
      color: $color-scheme-3;
      font-size: 1.6rem;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-terms {
    font-size: 1.8rem;
    color: #011722;
    margin-top: 1.5rem;

    a {
      color: $color-scheme-3;
    }
  }
}

#firebaseui_container {
  width: 100% !important;
}

.firebaseui-container {
  max-width: 100% !important;
}

.firebaseui-card-content {
  box-sizing: border-box;
}

.firebaseui-idp-list {
  display: flex;
  box-sizing: border-box;
}

.firebaseui-list-item:not(:first-child) {
  margin-left: 1rem;
}

.firebaseui-idp-facebook {
  @media only screen and (max-width: $large) {
    width: 5rem !important;
  }
}
