.survey {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  align-items: center;
  padding: 8rem 0rem;
  position: relative;

  &-title {
    grid-column: 1/-1;
    justify-self: center;
    font-size: 2.2rem;
  }

  &-subtitle {
    grid-column: 1/-1;
    justify-self: center;
    text-align: center;
    font-size: 1.8rem;
  }

  &-recipient {
    grid-column: 2/10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem 0;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% / 6);
      min-height: 18.2rem;
      font-size: 2.2rem;
      line-height: 2.5rem;
      border: 0.1rem solid $color-scheme-3;
      border-radius: 1.2rem;
      padding: 2rem 3rem;
      margin: 1rem 1rem;
      transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

      &:hover {
        background-color: $color-scheme-3-alt-2;
        color: $color-scheme-3;
        cursor: pointer;
      }
    }
  }

  &-recipient-age {
    grid-column: 3/9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5rem;
    margin: 5rem 0;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% / 4);
      min-height: 18.2rem;
      font-size: 2.2rem;
      line-height: 2.5rem;
      border: 0.1rem solid $color-scheme-3;
      border-radius: 1.2rem;
      padding: 2rem 3rem;
      margin: 1rem 1rem;
      transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

      &:hover {
        background-color: $color-scheme-3-alt-2;
        color: $color-scheme-3;
        cursor: pointer;
      }
    }
  }

  &-button {
    grid-column: 1/-1;
    justify-self: center;
    padding: 1rem 5rem;
    color: $color-scheme-3;
    background-color: transparent;
    border-radius: 1.2rem;
    outline: none;
    border: 0.1rem solid $color-scheme-3;
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

    &:hover {
      cursor: pointer;
      background-color: $color-scheme-3-alt-1;
      color: $color-scheme-3;
      border: 0.1rem solid $color-scheme-3-alt-1;
      outline: none;
    }
  }

  &-next {
    position: absolute;
    right: 10rem;
    top: 5rem;

    svg {
      width: 5rem;
      height: 5rem;
      fill: $color-light-gray;
      transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

      &:hover {
        fill: $color-scheme-3;
        cursor: pointer;
      }
    }
  }

  &-back {
    position: absolute;
    left: 10rem;
    top: 5rem;

    svg {
      width: 5rem;
      height: 5rem;
      fill: $color-light-gray;
      transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);

      &:hover {
        fill: $color-scheme-3;
        cursor: pointer;
      }
    }
  }
}
