.recipient-modal {
  position: fixed;
  top: 5%;
  left: 10%;
  width: 80%;
  min-height: 75rem;
  display: flex;
  background-color: white;
  border: 0.2rem solid $color-light-gray-alt-2;
  border-radius: 1.2rem;
  box-shadow: 0.2rem 0.1rem 0rem 0rem rgba(0, 0, 0, 0.2);
  align-items: center;
  z-index: 2000;
  justify-content: center;

  &-small {
    position: fixed;
    top: 5%;
    left: 10%;
    width: 80%;
    min-height: 75rem;
    display: flex;
    background-color: white;
    border: 0.2rem solid $color-light-gray-alt-2;
    border-radius: 1.2rem;
    box-shadow: 0.2rem 0.1rem 0rem 0rem rgba(0, 0, 0, 0.2);
    align-items: center;
    z-index: 2000;
    justify-content: center;

    @media only screen and (max-width: $medium) {
      top: 25%;
      min-height: max-content;
      max-height: max-content;
    }
  }

  &-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75rem;
    max-height: 75rem;
    border-radius: 1.2rem;
    position: relative;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.2rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-scheme-3;
    }

    &-small {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 75rem;
      max-height: 75rem;
      border-radius: 1.2rem;
      position: relative;
      overflow-y: auto;

      @media only screen and (max-width: $medium) {
        min-height: 30rem;
        max-height: max-content;
      }

      &::-webkit-scrollbar {
        width: 0.2rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-scheme-3;
      }
    }

    &-close {
      position: absolute;
      top: 2rem;
      right: 2rem;

      &-small {
        position: absolute;
        top: 2rem;
        right: 2rem;

        @media only screen and (max-width: $medium) {
          top: 1rem;
          right: 1rem;
        }

        &-svg {
          width: 3rem;
          height: 3rem;
          fill: $color-scheme-3;

          &:hover {
            cursor: pointer;
            fill: $color-scheme-1;
          }

          @media only screen and (max-width: $medium) {
            width: 1rem;
            height: 1rem;
            fill: $color-scheme-3;
          }
        }
      }

      &-svg {
        width: 3rem;
        height: 3rem;
        fill: $color-scheme-3;

        &:hover {
          cursor: pointer;
          fill: $color-scheme-1;
        }
      }
    }

    &-event {
      width: 100%;
      height: 75rem;
      padding: 10rem 0;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 0.2rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-scheme-3;
      }

      &-title {
        text-align: center;
      }

      &-button {
        width: max-content;
        margin-bottom: 2rem;
      }
    }

    &-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 75rem;
      padding: 10rem 0;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 0.2rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-scheme-3;
      }

      &-title {
        text-align: center;
      }

      &-button {
        width: max-content;
        margin-bottom: 2rem;
      }
    }

    &-tags {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 75rem;
      padding: 10rem 0;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 0.2rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-scheme-3;
      }

      &-title {
        text-align: center;
      }

      &-button {
        width: max-content;
        margin-bottom: 2rem;
      }
    }

    &-comment {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}

.black {
  color: black !important;
}

.recipient-modal-plan {
  position: fixed;
  top: 5%;
  left: 2.5%;
  width: 95%;
  min-height: 75rem;
  display: flex;
  background-color: white;
  border: 0.2rem solid $color-light-gray-alt-2;
  border-radius: 1.2rem;
  box-shadow: 0.2rem 0.1rem 0rem 0rem rgba(0, 0, 0, 0.2);
  align-items: center;
  z-index: 200;
  justify-content: center;

  &-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80rem;
    max-height: 80rem;
    border-radius: 1.2rem;
    position: relative;
    overflow-y: auto;

    &-mobile {
      display: none;

      @media only screen and (max-width: $large-medium) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 80%;
        color: $color-scheme-3-variation-4 !important;
      }

      &-title {
        width: 100%;
        font-size: 1.8rem;
        line-height: 2.1rem;
        text-align: center;
        font-weight: 700;
        margin: 20rem 0 0 0;
        color: $color-scheme-3-variation-4;
        font-family: Roboto;
      }

      &-subtitle {
        font-family: Roboto;
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: 400;
        padding: 0.2rem 0;
        color: #011722 !important;
      }

      &-bulk {
        font-size: 1.4rem;
        color: #011722 !important;
      }
    }

    &::-webkit-scrollbar {
      width: 0.2rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-scheme-3;
    }

    @media only screen and (max-width: $large-medium) {
      overflow-y: hidden !important;
      overflow: hidden;

      &::-webkit-scrollbar {
        width: 0.2rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-scheme-3;
      }
    }

    &-close {
      position: absolute;
      top: 2rem;
      right: 2rem;

      &-svg {
        width: 3rem;
        height: 3rem;
        fill: $color-scheme-3;

        &:hover {
          cursor: pointer;
          fill: $color-scheme-1;
        }
      }
    }

    &-checkout {
      width: 41rem;
      height: 47.3rem;
      border: 0.2rem solid #e5e5e5;
      border-radius: 1.2rem;
      margin: 1rem 0;
      padding: 2rem;

      @media only screen and (max-width: $large-medium) {
        margin-top: 3rem;
        color: black;
      }

      @media only screen and (max-width: $medium) {
        width: 100%;
        margin-bottom: 25rem;
      }

      &-title {
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: capitalize;
      }

      &-payment {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: capitalize;
        padding: 2rem 0;

        span {
          font-size: 1.6rem;
          font-weight: 300;
          text-transform: uppercase;
        }
      }

      &-credits {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: capitalize;
        margin: 2rem 0 2rem 0;
      }

      &-cards {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 1.8rem;
          text-transform: capitalize;
        }
      }

      &-tax {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0 0 0;
        padding: 0 0 4rem 0;
        border-bottom: 0.2rem solid $color-light-gray;

        span {
          font-size: 1.8rem;
          text-transform: capitalize;
        }
      }

      &-total {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0 0 0;
        padding: 0 0 4rem 0;

        span {
          font-size: 2.2rem;
          text-transform: capitalize;
          font-weight: 900;
        }
      }

      &-button {
        button {
          display: flex;
          align-items: center;
          justify-self: center;
          justify-content: center;
          width: 100%;
          height: 5.3rem;
          color: $color-scheme-3;
          background-color: transparent;
          border-radius: 1.2rem;
          outline: none;
          border: 0.2rem solid $color-scheme-3;
          font-size: 1.8rem;
          transition: all 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);

          &:hover {
            cursor: pointer;
            background-color: $color-scheme-3-variation-1;
            color: white;
            border: 0.1rem solid $color-scheme-3-variation-1;
            outline: none;
          }

          &:disabled {
            pointer-events: none;
          }
        }
      }
    }
  }
}
