*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

html,
body {
  overflow-x: hidden; }

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: black;
  line-height: 1.6; }

.nav {
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  justify-content: space-between; }
  .nav-logo {
    display: flex;
    align-items: center; }
    .nav-logo svg {
      width: 4.7rem;
      height: 4.7rem;
      fill: white; }
    .nav-logo span {
      font-size: 2.4rem;
      margin-left: 1rem; }
  .nav-menu {
    display: flex;
    align-items: center; }
    .nav-menu-item {
      font-size: 1.8rem;
      margin-right: 2rem; }
      .nav-menu-item:hover {
        cursor: pointer; }
      .nav-menu-item svg {
        width: 3.6rem;
        height: 3.6rem;
        fill: black; }

.footer {
  display: flex;
  justify-content: space-between;
  margin: 3rem 5rem;
  border-top: 0.1rem solid #e9e9e9;
  border-bottom: 0.1rem solid #e9e9e9;
  padding: 5rem 3rem; }
  .footer-left-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.5; }
  .footer-left-logo {
    font-family: Sanchez;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400; }
  .footer-left-list-heading {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 5rem; }
  .footer-left-list-link {
    list-style-type: none;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 200; }
  .footer-right-heading {
    line-height: 5rem; }
  .footer-right-container {
    flex-grow: 0; }
  .footer-right-icons svg {
    width: 3rem;
    height: 3rem; }
    .footer-right-icons svg:not(:first-child) {
      margin-left: 0.5rem; }

.signup {
  text-align: center; }
  .signup-container {
    display: flex;
    justify-content: center;
    margin: 10rem 0 0 0; }
  .signup-heading {
    font-size: 2.2rem;
    font-weight: 400; }
  .signup-subheading {
    font-size: 1.8rem;
    font-weight: 400; }
  .signup-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    border: 0.1rem solid #dedfde;
    width: 50rem;
    box-sizing: border-box;
    border-radius: 1.2rem;
    margin: 5rem 0; }
    .signup-form-message {
      font-size: 1.2rem;
      color: #e84925; }
    .signup-form-group {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.1rem solid #778186;
      padding: 1rem 2rem;
      border-radius: 1.2rem;
      width: 30rem;
      margin: 1rem 0;
      box-sizing: border-box; }
      .signup-form-group svg {
        width: 2.5rem;
        height: 2.5rem; }
      .signup-form-group input {
        flex-grow: 1;
        border: none;
        outline: none;
        margin-left: 2rem;
        font-size: 1.8rem;
        color: #778186; }
        .signup-form-group input::placeholder {
          color: #778186; }
    .signup-form button {
      background-color: #0f2e4c;
      color: white;
      border-radius: 1.2rem;
      width: 30rem;
      height: 5rem;
      font-size: 1.8rem;
      transition: all 1s ease-in-out;
      border: none;
      outline: none; }
      .signup-form button:hover {
        background-color: #041219;
        cursor: pointer; }
    .signup-form-break {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 3rem 0;
      padding: 0 3rem; }
      .signup-form-break span:first-child {
        height: 0.1rem;
        background-color: black;
        width: 100%; }
      .signup-form-break p {
        width: 100%;
        font-size: 1.6rem;
        padding: 0 1rem; }
      .signup-form-break span:last-child {
        height: 0.1rem;
        background-color: black;
        width: 100%; }
    .signup-form-signin {
      font-size: 1.6rem;
      margin: 2.5rem 0; }
      .signup-form-signin a {
        margin-left: 0.5rem;
        text-decoration: underline;
        color: #e84925; }
        .signup-form-signin a:hover {
          cursor: pointer;
          color: #efbb1c; }

#firebaseui_container {
  width: 100% !important; }

.firebaseui-container {
  max-width: 100% !important; }

.firebaseui-card-content {
  box-sizing: border-box; }

.firebaseui-idp-list {
  display: flex;
  box-sizing: border-box; }

.firebaseui-list-item:not(:first-child) {
  margin-left: 1rem; }

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  font-size: 2.8rem; }
  .home-logout {
    font-size: 1.8rem;
    color: #e84925; }
    .home-logout:hover {
      color: #d7dcfe;
      cursor: pointer; }

.giphy-loading {
  margin: 1rem 0 !important; }
  .giphy-loading-space {
    width: 3rem !important;
    height: 4rem !important;
    padding: 0 !important;
    color: transparent; }
