// COLORS
$color-scheme-1: #e84925;
$color-scheme-1-alt-1: #ef6130;
$color-scheme-2: #efbb1c;
$color-scheme-2-alt-1: #fbeda9;
$color-scheme-2-alt-2: #fdf4cc;
$color-scheme-3: #0f2e4c;
$color-scheme-3-variation-1: #003e5f;
$color-scheme-3-variation-2: #024060;
$color-scheme-3-variation-3: #011722;
$color-scheme-3-alt-1: #d8f1ff;
$color-scheme-3-alt-2: #d7dcfe;
$color-scheme-4: #041219;
$color-scheme-4-alt-1: #646e72;
$color-scheme-4-alt-2: #dedfde;
$color: #024060;

// SHADES
$color-light-gray: #e5e5e5;
$color-light-gray-alt-1: #778186;
$color-light-gray-alt-2: #e5e5e5;
$color-light-gray-alt-3: #f5f5f5;
$color-light-gray-alt-4: #767f83;
$color-light-gray-alt-5: #fafafa;
$color-white: #ffffff;

//BREAKPOINTS
$wide-large: 1800px;
$wide: 1500px;
$extra-large: 1200px;
$large-medium: 1050px;
$large: 992px;
$extra-medium: 800px;
$medium: 768px;
$small: 600px;
$extra-small: 350px;
$extra-small-alt-1: 375px;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box; // Tells the browser to account for any border and padding in the values you specify for an element's width and height
  font-size: 62.5%; // Sets font-size to 10px
  scroll-behavior: smooth;
  padding: env(safe-area-inset);
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: black;
  line-height: 1.6;
}
