// COLORS
$color-scheme-1: #e84925;
$color-scheme-2: #efbb1c;
$color-scheme-2-alt-1: #fbeda9;
$color-scheme-2-alt-2: #fdf4cc;
$color-scheme-3: #0f2e4c;
$color-scheme-3-alt-1: #003e5f;
$color-scheme-3-alt-2: #024060;
$color-scheme-3-alt-1: #d8f1ff;
$color-scheme-3-alt-2: #d7dcfe;
$color-scheme-4: #041219;
$color-scheme-4-alt-1: #646e72;
$color-scheme-4-alt-2: #dedfde;
$color-input: #778186;

// SHADES
$color-light-gray: #e5e5e5;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box; // Tells the browser to account for any border and padding in the values you specify for an element's width and height
  font-size: 62.5%; // Sets font-size to 10px
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: black;
  line-height: 1.6;
}
